body {
    text-align: center;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, verdana, sans-serif;
}

.header-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    width: 200px;
    height: 200px;
    background-color: red;
}

.bottom-container {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}